*{
  font-family: 'Maven Pro', sans-serif; 
  background-image: url('source\fotosilun\texturafondo.jpg');
  box-sizing: border-box;
  margin: 5;
  padding: 5;
   }

   img, video {
    width: 100%;
   }

body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin:auto;
    padding:0%;

  }
  
  header {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  h1{
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    justify-content: center;
  }
  
  section {
    margin: 20px;
  }
  
  /* Estilo index/home */

  .article-container {
    display: flex; /* flesbos para los artiquelsss */
    flex-wrap: wrap; /* para envolver los article en vrias filas */
    justify-content: center; /* Centrar articles e horizontal */
  }
  
  
  #ilunlink,
  #kaialink {
    width: 250px;
    transition: all .3s ease;
    margin: 10px; /* espacio entre las fotos de los articulos */
  }


  
  #ilunlink, #kaialink {
    position: relative;
    width: 250px;
    transition: all .3s ease;
  }

  #ilunlink img:first-child, #kaialink img:first-child{
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    opacity: 1;
    
  }

  #ilunlink img:last-child, 
  #kaialink img:last-child {
    position: absolute;
    width: 500px;
    bottom: 0;
    left: 0 ;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;

  }
    

  #ilunlink:hover, #kaialink:hover {
    transform:
      perspective(250px)
      rotateX(10deg)
      translateY(-5%)
      translateZ(0);
  }

  #ilunlink::before, #kaialink::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image:
      linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0) 95%
      );
    opacity: 0;
    transition: all .3s ease;
  }
  
  #ilunlink:hover::before, #kaialink:hover::before {
    opacity: 1;
  }

  #ilunlink:hover img:last-child, #kaialink:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
  }

 

   /* Estilo Biografía */

   .containerilun  {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.cajatexto1 {
  position: relative;
  border: 5px solid grey;
  padding: 10px;
  background-color: black;
  z-index: 2; 
  color: white;
  text-align: center;
  /* La caja principal estará encima de las otras */
}

.cajatexto2 {
  position: relative;
  border: 5px solid grey;
  padding: 10px;
  background-color: black;
  z-index: 2; 
  color: white;
  text-align: center;/* La caja principal estará encima de las otras */
}

    .caja1, .caja2, .caja3, .caja4, 
    .cajakaia1, .cajakaia2, .cajakaia3, .cajakaia4 {
      flex-basis: 25%;
      padding: 10px;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: black;
      border: 5px solid grey;
      color: white;
      
    }
    
    .caja1 h2, .caja2 h2, .caja3 h2, .caja4 h2,
    .cajakaia1 h2, .cajakaia2 h2, .cajakaia3 h2, .cajakaia4 h2  {
      margin-top: 0;
    }
    
    .caja1 p, .caja2 p, .caja3 p, .caja4 p,
    .cajakaia1 p, .cajakaia2 p, .cajakaia3 p, .cajakaia4 p {
      margin: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .containerkaia  {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
  }
  

.fotosilun {
  display: flex;
  width: 1400px;
  height: 430px;
}

  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%)
  }

 /* Estilo Portfolio */









  /* Estilo formulario */

  .contacto_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
  
  .formulario {
    text-align: center;
    padding: 20px;
    border: 7px solid transparent;
    border-radius: 10px;
    animation: borderAnimation 5s infinite;
  }
  @keyframes borderAnimation {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: yellow;
    }
    100% {
      border-color: red;
    }
  }
  .formcontainer {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  
  
 
  

   /* dispositivos móviles */
   @media screen and (max-width: 767px) {
    .container {
      flex-wrap: wrap;
    }
  
    .caja1, .caja2, .caja3, .caja4 {
      flex-basis: 50%;
    }    

    .cajakaia1, .cajakaia2, .cajakaia3, .cajakaia4 {
      flex-basis: 50%;
    }
    

    .cabecera {
      font-size: 14px;
      margin: 0;
      padding: 0;
      width: 0 auto;
      height: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;      
    }
    
 
   #ilunlink img:last-child, 
  #kaialink img:last-child {
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 0 ;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
     }
  
    }


  /* dispositivos medianos */
  @media screen and (min-width:992px) {
      
    #ilunlink img:first-child,
    #kaialink img:first-child {
      width: 100%; /* Mantener ancho imgn 100% */
      height: auto; /* Ajustar altura imgs auto */
    }
  

  #ilunlink img:last-child, 
  #kaialink img:last-child {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 0 ;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
     }
    }


  /* dispositivos de sobremesa */
  @media screen and (min-width:1200px) {

    .formcontainer {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 10px;
      }
      
    #ilunlink,
    #kaialink {
      width: 500px; /* Aumentar el ancho de los articles */
    }
  
    #ilunlink img:first-child,
    #kaialink img:first-child {
      width: 100%; /* Mantener ancho imgn 100% */
      height: auto; /* Ajustar altura imgs auto */
    }
  
  #ilunlink img:last-child, 
  #kaialink img:last-child {
    position: absolute;
    width: 500px;
    bottom: 0;
    left: 0 ;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
     }
    }

  

   
  

  /* Estilo Contacto */


  /* Estilos específicos para cada sección */
  /* Añade aquí tus estilos personalizados para cada sección */
  